<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">
  <div class = "opaque-layer"></div>

  {% include sidebar.html %}

  <div class = "content" style='width: 100%'>
    <main class="container">
      <center>
    {{ content }}
    </center>
  </main>
  </div>
    {% include custom-foot.html %}
  </body>
</html>
