<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">
  <div class = "opaque-layer"></div>

  {% include sidebar.html %}

  <div class = "content">
    <main class="container">
      <center>
    {{ content }}
	<p></p>
  </center>
  </main>
  </div>
    {% include custom-foot.html %}
  </body>
</html>
